{
  "extends": "react-app",

  "rules": {
    "no-console": "error",
    "no-unused-vars": "warn",
    "no-debugger": "error",
    "curly": "warn",
    "no-multi-spaces": "warn",
    "newline-before-return": "warn",
    "jsx-a11y/href-no-hash": "off",
    "padded-blocks": [
      "error",
      {
        "blocks": "never",
        "classes": "never",
        "switches": "never"
      }
    ],

    "flowtype/require-valid-file-annotation": ["error", "always"]
  }
}
